$content-container-bg-color: rgba(222, 218, 191, 0.7);
$text-font: 'Lucida Sans';
$text-color: rgba(94, 64, 56, 1);
$text-size-header-table: 18px;
$text-size-content-table: 14px;
$phone-break: 640px;
$tablet-break: 1008px;
$information-phone: "only screen and (max-width : $phone-break)";
$information-tablet: "only screen and (max-width : $tablet-break)";
$input-border-color-default: rgba(94, 64, 56, 0.4);

.contentContainer{
    width: 95%;
    margin: 10% 0%;
}

.no-data-to-display, .columnTitle, .columnContent{
    text-align: center;
    font-family: $text-font;
    color: $text-color;
    font-weight: normal;
}

.columnTitle, .columnContent{
    padding: 0.5% 1%;
}

.dueDate{
    text-align: left;
    padding-left: 2.5%;
    padding-bottom: 2%;
}

.numberColumn{
    width: 10%;
}

.table, td, th{   
    text-align: center; 
}

th{
    font-size: $text-size-header-table;
}

td{
    font-size: $text-size-content-table;
}

table{
    height: 100%;
    margin: 0%;
}

.mdl-button{
    color: $text-color;
}

.mdl-js-ripple-effect{
    background-color: $content-container-bg-color;
}

.transition, p, ul li {
    transition: all 0.25s ease-in-out;
}

h2{
    font-size: $text-size-content-table;
    margin: 0%;
}

p{
    color: $text-color;
    font-size: $text-size-content-table - 2;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    margin: 0%;
}
  
ul{
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

ul li{
    position: relative;
    padding: 0;
    margin: 0;
}

ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0%;
}

ul li input[type=checkbox]:checked ~ p {
    margin: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

*:focus {outline-color:$content-container-bg-color}

.centerContainerAdminWall,.centerContainerProfile{
    text-align: center;
    margin-top: 3%;
    margin-left: 0%;
    margin-bottom: 0%;
    width: 100%;
}

.centerContainerProfile{
    text-align: left;
    margin-left: 16%;
}

.editTeacherButton{
    width: 30%;
}

.commitDetails{
    font-size: $text-size-content-table;
}


.selectedTeacher{
    background-color: rgba(123, 156, 130, 0.3);
}

.leftTable{
    text-align: left;
}

.columnGitContentMessage{
    width: 80%;
}