<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<div class="layoutContainer">
    <student-header>
        <!-- check if another is needed -->
    </student-header>

    <div class="contentContainer">
        <div class="teacherDetailsRowTitle">
            {{teacherName}}
        </div>

        <div class="meetingDetails">
            <div>
                Available day and hour: {{availableDayAndHour}}
            </div>
            <div>
                <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect requestButton" (click)="requestMetting()">
                    {{requestAMeetingButton}}
                </button>
            </div>
            <div *ngIf="meetingRequest" class="meetingRequested">
                Meeting request status: Pending
            </div>
        </div>
    </div>
</div>