<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<div class="layoutContainer">
    <student-header>
        <!-- check if another is needed -->
    </student-header>

    <div class="contentContainer">
        <div class="teacherDetailsRowTitle">
            {{teacherName}}
        </div>

        <div class = "left-side">
            <div class="availabilityDetails">
                <div>
                    Available day and hour: {{availableDay}}, {{availableHours}}
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect requestButton" (click)="requestMetting()">
                        {{requestAMeetingButton}}
                    </button>
                </div>
                <div *ngIf="meetingRequest" class="meetingRequested">
                    Meeting request status: {{meetingRequestStatus}}
                </div>
            </div>

            <div class="deadineDetails">
                <div>
                    Upcoming deadline: {{upcomingDeadlineDay.day}}-{{upcomingDeadlineDay.month}}-{{upcomingDeadlineDay.year}}, {{upcomingDeadlineDay.hour}}
                </div>
            </div>
        </div>

        <div class="wall">
            <div>
                Here the comments and observations of the teacher will be shown.
            </div>
            <div>
                Here the comments and observations of the teacher will be shown.
            </div>
            <div>
                Here the comments and observations of the teacher will be shown.
            </div>
        </div>


    </div>
</div>