<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<div class="layoutContainer">

    <student-header>
        <!-- check if another is needed -->
    </student-header>

    <div class="contentContainer">
        <div class="teacherDetailsRowTitle">
            {{teacherName}}
        </div>

        <div class="left-side">
            <div class="availabilityDetails">
                <div>
                    Available day and hour: {{availableDay}}, {{availableHours}}
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect requestButton" (click)="requestMetting()">
                    {{requestAMeetingButton}}
                </button>
                <div *ngIf="meetingRequest" class="meetingRequested">
                    Meeting request status: {{meetingRequestStatus}}
                </div>
            </div>

            <div class="deadineDetails">
                <div>
                    Upcoming deadline: {{upcomingDeadlineDay.day}}-{{upcomingDeadlineDay.month}}-{{upcomingDeadlineDay.year}}, {{upcomingDeadlineDay.hour}}
                </div>
            </div>
        </div>

        <div *ngFor="let teacherOb of teacherObs" class="wall">
            <div>
                {{teacherName}}
            </div>
            <span class="obsContent">
                {{teacherOb[0].observation}}
            </span>
            <span class="obsTimestamp">
                {{teacherOb[0].timestamp.day}}-{{teacherOb[0].timestamp.month}}-{{teacherOb[0].timestamp.year}}, {{teacherOb[0].timestamp.hour}}
            </span>
            <div>
                <div *ngIf="teacherOb[1][0] != null" class="showComments" (click)="showAllComments(teacherOb)">
                    <div *ngIf="teacherOb[2] == false"> 
                        {{showCommentsButton}} 
                    </div>
                    <div *ngIf="teacherOb[2] == true"> 
                            {{hideCommentsButton}} 
                    </div>
                </div>
            </div>
            <div *ngIf="teacherOb[2] == true">
                <div *ngIf="teacherOb[1][0] != null">
                    <div *ngFor="let comment of teacherOb[1]; let i = index;" class="comment">
                        <div>
                            {{teacherOb[1][i].name}}
                        </div>
                        <span class="commentContent">
                            {{teacherOb[1][i].content}}
                        </span>
                        <span class="commentTimestamp">
                            {{teacherOb[1][i].timestamp.day}}-{{teacherOb[1][i].timestamp.month}}-{{teacherOb[1][i].timestamp.year}}, {{teacherOb[1][i].timestamp.hour}}
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <span class="mdl-textfield mdl-js-textfield addCommentRow">
                    <input #Comment class="mdl-textfield__input" type="text" placeholder="Your comment here." (keydown.enter)="addComment(Comment.value, teacherOb)">
                </span>
            </div>
        </div>


    </div>
</div>