<div class="layoutContainer">
    <student-header>

    </student-header>
    <div class="contentContainer">


        <div class="email forgotPasswordPage">
            If you forgot your password you need to write your email here:
        </div>
        <div class="forgotPasswordPage">

            <input #SubmitEmailForgotPassword name="SubmitEmailForgotPassword" (ngModel)="body.Username" type="text" placeholder="lastName.firstName@info.uaic.ro"
                id="emailInput" pattern="1" required>

        </div>

        <div class="forgotPasswordPage">
            <button type="submit" id="submitButtonRectangle" (click)="sendForgotPasswordEmail(SubmitEmailForgotPassword.value);" [disabled]="(!SubmitEmailForgotPassword.valid && SubmitEmailForgotPassword.dirty)">
                <div id="submitButtonForgotPasswordText">
                    {{forgotPasswordButtonText}}
                </div>
            </button>
        </div>

        <div class="email forgotPasswordPage">
            You will get an email that will allow you to change your password. Please check your email!
        </div>
        <div class="email forgotPasswordPage smallerForgotText">
            Go back to <a [routerLink]="['/login']"><b>login</b></a> page or to <a [routerLink]="['/register']"><b>register</b></a> page!
        </div>

    </div>
</div>