BachelorManagement/DataLayer/bin/
BachelorManagement/DataLayer/obj/
BachelorManagement/BusinessLayer/bin/
BachelorManagement/BusinessLayer/obj/
BachelorManagement/ApiLayer/bin/
BachelorManagement/ApiLayer/obj/
