BachelorManagement/DataLayer/bin/
BachelorManagement/DataLayer/obj/
BachelorManagement/BusinessLayer/bin/
BachelorManagement/BusinessLayer/obj/
BachelorManagement/ApiLayer/bin/
BachelorManagement/ApiLayer/obj/
.sonarqube/
BachelorManagement/.vs/BachelorManagement/v15/Server/sqlite3/db.lock
BachelorManagement/.vs/BachelorManagement/v15/Server/sqlite3/storage.ide
BachelorManagement/.vs/BachelorManagement/v15/Server/sqlite3/
BachelorManagement/.vs/BachelorManagement/v15/sqlite3/
BachelorManagement/Interfaces/bin/
BachelorManagement/Interfaces/obj/
BachelorManagement/Interfaces/Interfaces.csproj
BachelorManagement/BachelorManagement.sln
BachelorManagement/ApiLayer/ApiLayer.csproj
BachelorManagement/BusinessLayer/BusinessLayer.csproj
BachelorManagement/DataLayer/DataLayer.csproj
