$content-container-bg-color: rgba(222, 218, 191, 0.7);
$text-font: 'Lucida Sans';
$text-color: rgba(94, 64, 56, 1);
$input-border-color-default: rgba(94, 64, 56, 0.4);
$input-border-color-focus: rgba(94, 64, 56, 0.9);
$input-border-color-error: rgba(224, 9, 9, 0.95);
$input-color-disabled: rgba(73, 56, 52, 0.4); 
$phone-break: 640px;
$tablet-break: 1008px;
$information-phone: "only screen and (max-width : $phone-break)";
$information-tablet: "only screen and (max-width : $tablet-break)";

.contentContainer{
    text-align: center;
    align-items: center;
}

.welcomeToAppTitle, .welcomeToAppSubtitle, .email, .password, .forgotPassword, .register, #error{
    font-family: $text-font;
    color: $text-color;    
    @media #{$information-tablet}{
        color: green;
    }
    @media #{$information-phone} {
        color: pink;
    }
}

.welcomeToAppTitle{
    padding: 40px 0px 30px ;
    font-size: 35px;
}

.welcomeToAppSubtitle{
    padding-bottom: 30px;
    font-size: 25px;
}

.email, .password{
    padding: 8px 0px;
    font-size: 20px;
}

#passwordInput, #confirmPasswordInput{
    &.invalidPass {
        border: solid 1.5px $input-border-color-error;
      }
}

input{
    padding: 0px 15px;
    width: 30%;
    height: 38px;
    font-family: $text-font;
    font-size: 20px;
    color: $text-color;
    text-align: justify;
    background-color: $content-container-bg-color;
    border: solid 1px $input-border-color-default;
    &:focus {
      border: solid 1px $input-border-color-focus;
      outline: 0;
    }
    &.ng-invalid.ng-dirty {
      border: solid 1.5px $input-border-color-error;
    }
    @media #{$information-tablet}{
        width: 45%;
    }
    @media #{$information-phone} {
        width: 70%;
    }
  }

.forgotPassword{
    padding: 10px;
}

.register{
    padding: 10px;
    font-size: 12px;
}


.forgotPassword > a, .register > a{
    font-family: $text-font;
    font-size: 12px;
    color: $text-color;
    text-decoration: none;
    text-underline-position: none;
    &:hover{
        font-weight: bold;
        cursor: pointer;
    }
}

.submitButton{
    margin: 30px 0px 10px;
}
  
#submitButtonRectangle {
    width: 30%;
    height: 38px;
    background-color: $content-container-bg-color;
    border: solid 1px $input-border-color-default;
    cursor: pointer;
    &:disabled{
      background-color: $input-color-disabled;
    }
    &:focus{
        outline: 0;
    }
    @media #{$information-tablet}{
        width: 45%;
    }
    @media #{$information-phone} {
        width: 70%;
    }
}
  
#submitButtonText {
    padding: 0px 15px;
    font-family: $text-font;
    font-size: 20px;
    text-align: center;
    color: $text-color;
    cursor: pointer;
}

#error{
    font-size: 10px;
    padding-top: 10px;
}