$content-container-bg-color: rgba(222, 218, 191, 0.9)
;$text-font: 'Lucida Sans';
$text-color: rgba(94, 64, 56, 1);
$text-size-header: 16px;
$phone-break: 640px;
$tablet-break: 1008px;
$information-phone: "only screen and (max-width : $phone-break)";
$information-tablet: "only screen and (max-width : $tablet-break)";
$input-border-color-default: rgba(94, 64, 56, 0.4);
$text-size-header-table: 18px;
$text-size-content-table: 14px;

.teacherDetailsRow{
    padding: 1.5% 2% 1.5% 5%;
    font-size: $text-size-header;
    font-family: $text-font;
    color: $text-color;
}

.mdl-textfield__input{
    width: 200%;
    padding: 0% 5%;
    font-family: $text-font;
    color: $text-color;
    font-size: $text-size-header - 2;
}

.teacherDetailsRowTitle{  
    font-family: $text-font;  
    padding: 1.5% 0%;
    font-size: $text-size-header + 2;
    font-weight: normal;
    text-align: center;
    color: $text-color;
}

.numberOfstudents{
    background-color: $content-container-bg-color;  
    border: solid $input-border-color-default 1px;
    color: $text-color;
    font-family: $text-font;
    font-size: $text-size-header;
    margin: 0% 5%;
    padding-left: 2%;
    &:focus{        
        outline:0;
    }
}

.mdl-button{
    color: $text-color;
    margin: 2% 2%;     
}

.mdl-js-ripple-effect{
    background-color: $content-container-bg-color;
}

.availabilityDetails, .deadineDetails, .wall{   
    background-color: $content-container-bg-color;
    font-family: $text-font;
    color: $text-color;
    padding: 4% 2%;        
    margin: 0% 2%;
    border: solid $input-border-color-default 1px;
    @media #{$information-tablet}{        
        margin: 5% 2%; // check this when intergrating with another component
    }
    @media #{$information-phone} {        
        margin: 3% 1%; // same here (upArrow)
    }
}

.left-side{    
    width: 30%; 
    float: left;
}

.wall{
    width: 60%;
    float: right;
    margin-top: 0%;
    margin-bottom: 2%;
    padding: 2%;
}

.requestButton{
    margin: 5% 0%;
}

.deadineDetails{
    margin: 10% 2%;
}

.obsTimestamp, .commentTimestamp{
    float: right;
}

.obsTimestamp{
    font-size: $text-size-header - 8;
}

.commentTimestamp{
    font-size: $text-size-header - 8;
}


.obsContent{    
    font-size: $text-size-header - 2;
}

.comment{    
    font-size: $text-size-header - 4;
    border: $input-border-color-default solid 1px;
    padding: 1% 1% 1% 1%;
    margin: 2.5% 0% 1% 1%;
}

.commentContent{
    font-size: $text-size-header - 6;
}

.addCommentRow{
    width: 30%;
    margin: 0%;  
    margin-top: 0.5%;
    font-size: $text-size-header - 6;
    &:active{      
        outline:0;
        font-size: $text-size-header - 10;
    }
}

.showComments{
    float: right;
    font-size: $text-size-header - 6;
    cursor: pointer;
}

.no-data-to-display, .columnTitle, .columnContent{
    text-align: center;
    font-family: $text-font;
    color: $text-color;
    font-weight: normal;
}

.columnTitle{
    padding: 2% 1%;
}

.columnContent{
    padding: 0.5% 1%;
    font-size: $text-size-header;
}

.table, td, th{   
    text-align: center; 
}

th{
    font-size: $text-size-header-table;
}

td{
    font-size: $text-size-content-table;
}

table{
    border: $input-border-color-default solid 1px;
    height: 100%;
    margin: 0%;
}

.mdl-button{
    color: $text-color;
}

.mdl-js-ripple-effect{
    background-color: $content-container-bg-color;
}

h2{
    font-size: $text-size-content-table;
    margin: 0%;
}

.numberColumn{
    width: 3%;
}

.nameColumn, .optionColumn{
    width: 15%;
}

.achievementColumn{
    width: 30%;
}

.acceptRequestButton{
    width: 50%;
}

.denyRequestButton{
    width: 30%;
}

.spots{
    margin: 2% 1%;
    color: $text-color;
    font-family: $text-font;
    font-size: $text-size-header;
}

.content{
    border: solid $input-border-color-default 1px;
    background-color: $content-container-bg-color;
    min-height: 100px;
}

.bordered{    
    border: solid $input-border-color-default 1px;
    min-height: 100%;
}

.contentDetails{
    margin: 2%;
    width: 93%;
    float: right;
}

.sidebar{
    margin: 3%;
    width: 20%;
    float: left;
}

.studentDetails{
    width: 100%;
}

.sidebar_border{
    width: 15%;
    float: left;
    margin: 1% 0% 1% 1%;
}

.content_border{
    float: right;
    margin: 1% 1% 1% 0%;
    width: 82%;
}

.sidebar_content{
    cursor: pointer;
    color: $text-color;
    font-family: $text-font;
    font-size: $text-size-header;
    margin: 10% 5%;
    outline: none;
}


.teacherTheme{
    font-size: $text-size-header - 2;
    font-family: $text-font;  
    color: $text-color;
    padding: 0%;
    margin: 0.5% 6%;
    border: none;
}

.teacherAddTheme{
    margin: 0% 10%;
    outline: none;
}