<div class="layoutContainer">

    <profile-header>
    </profile-header>

    <div class="contentContainer">
        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div>
            <div class="secondaryText secondaryTextForDetails centerContainer">
                Version Control System Details
            </div>

            <div class="subtitle profileDetails">
                Repository information
            </div>
            <div class="profileSecondaryDetails">
                Repository name: {{userData.Name}}
            </div>
            <div class="profileSecondaryDetails">
                Repository url: {{userData.Url}}
            </div>

            <div class="subtitle profileDetails">
                Languages
            </div>
            <div *ngFor="let language of languagesArray" class="profileSecondaryDetails">
                {{language.Name}}: {{language.Size}}
            </div>

            <div class="subtitle profileDetails">
                Commits
            </div>
            <div *ngFor="let commit of commitsArray" class="profileSecondaryDetails">
                {{commit.Date.getDate()}}.{{commit.Date.getMonth()}}.{{commit.Date.getFullYear()}}: {{commit.Message}}
            </div>

        </div>

    </div>

</div>