<div class="layoutContainer">

    <profile-header>
    </profile-header>

    <div class="contentContainer">
        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div>
            <div class="secondaryText secondaryTextForDetails centerContainer">
                Version Control System Details
            </div>


            <div class="subtitle profileDetails">
                Repository information
            </div>
            <div class="profileSecondaryDetails">
                Repository name: {{userData.Name}}
            </div>
            <div class="profileSecondaryDetails">
                Repository url:
                <a href="#">{{userData.Url}}</a>
            </div>

            <div class="subtitle profileDetails">
                Used languages
            </div>
            <div class="profileSecondaryDetails">
                <canvas class="canvasClass" baseChart [data]="languageChartData" [labels]="languageChartLabels" [chartType]="languageChartType"
                    [colors]="languageChartColors"></canvas>
            </div>

            <div class="subtitle profileDetails">
                Additions and deletions for the last 10 weeks*
            </div>
            <div class="profileSecondaryDetails">
                <canvas class="canvasClass" baseChart [datasets]="addAndDelChartData" [labels]="addAndDelChartLabels" [colors]="addAndDelChartColors"
                    [legend]="addAndDelChartLegend" [chartType]="addAndDelChartType" [options]="addAndDelChartOptions" (chartHover)="chartHovered($event)"></canvas>
            </div>
            <div class="profileSecondaryDetails">
                *The scale for added and deleted lines is 1:100
            </div>

            <div class="subtitle profileDetails">
                Last 30 commits
            </div>
            <div>
                <div class="mdl-cell mdl-cell--12-col profileSecondaryDetails">

                    <table class="table pagingTable">
                        <thead>
                            <th class="columnTitle"> Date </th>
                            <th class="columnTitle"> Description </th>
                        </thead>

                        <tbody>

                            <tr *ngFor="let commit of commitsArray | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td class="columnGitContent commitGitContentWidth">
                                    <span>
                                        <img src="https://i.imgur.com/qJyqngf.png" />
                                    </span>
                                    <span>
                                        {{commit.Date.getDate()}}.{{commit.Date.getMonth()}}.{{commit.Date.getFullYear()}}
                                    </span>
                                </td>
                                <td class="columnGitContent columnGitContentMessage">{{commit.Message}}</td>
                            </tr>

                        </tbody>
                    </table>


                    <h2 *ngIf="commitsArray.length == 0" class="no-data-to-display">No data to display</h2>
                    
                    <div *ngFor="let commit of collection | paginate: { itemsPerPage: 5, currentPage: p }"></div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    
                    <!-- <pagination-controls  *ngIf="commitsArray.length != 0" class="paginationControls" (pageChange)="p = $event"></pagination-controls> -->


                </div>
            </div>


        </div>

    </div>

</div>