<div class="layoutContainer">

    <div class="contentContainer contentContainerAlign">

        <div class="welcomeToAppTitle">
            Welcome To Your Bachelor Degree Management App
        </div>

        <div class="welcomeToAppSubtitle">
            Register
        </div>

        <div>
            <div class="email">
                Email
            </div>
            <input #SubmitEmail name="SubmitEmail" type="text" placeholder="lastName.firstName@info.uaic.ro" id="emailInput" (keyup)="validateEmail($event.target)"
                (clickOutside)="checkIfUsernameExists(SubmitEmail.value)" required>
        </div>

        <div *ngIf="alreadyExistingAccount" class="invalidCredentials">
            This email address is already registered!
        </div>

        <div>
            <div class="password">
                Password
            </div>
            <input #SubmitPass name="SubmitPass" type="password" placeholder="**********" id="passwordInput" (keyup)="validatePass($event.target);"
                required>
        </div>

        <div id="error" *ngIf="invalidError">
            ! Use at least 6 characters, one upper case, one digit and one special character
        </div>

        <div>
            <div class="password">
                Confirm Password
            </div>
            <input #ConfirmPass name="ConfirmPass" type="password" placeholder="**********" id="confirmPasswordInput" (keyup)="confirmPass($event.target,SubmitPass.value);"
                required>
        </div>

        <div id="error" *ngIf="matchError">
            ! Passwords don't match
        </div>

        <div *ngIf="invalidModelState" class="invalidCredentials">
            Invalid email or password format!
        </div>

        <button type="submit" id="submitButtonRectangle" [disabled]="invalidEmailError || invalidError || matchError || alreadyExistingAccount"
            (click)="submit(SubmitEmail.value,SubmitPass.value);">
            <div id="submitButtonText">{{buttonText}}</div>
        </button>

        <div class="register">
            If you forgot your password, click
            <a [routerLink]="['/forgotPassword']">
                <b>here!</b>
            </a>
        </div>

        <div class="register">
            If you already have an account, you can login
            <a [routerLink]="['/login']">
                <b>here!</b>
            </a>
        </div>

    </div>

</div>