<div class="layoutContainer">
    <div class="contentContainer contentContainerAlign">
        <div class="welcomeToAppTitle">
            Welcome To Your Bachelor Degree Management App
        </div>

        <div class="welcomeToAppSubtitle">
            Register
        </div>

        <div>
            <div class="email">
                Email
            </div>

            <input name="SubmitEmail" type="text" placeholder="lastName.firstName@info.uaic.ro" id="emailInput" pattern="^.+\b@info\.uaic\.ro\b$"
                required>
        </div>

        <div>
            <div class="password">
                Password
            </div>

            <input #SubmitPass name="SubmitPass" type="password" placeholder="**********" id="passwordInput" (keyup)="validatePass($event.target);" required>
        </div>

        <div id="error" *ngIf="invalidError">
                ! Use at least 6 characters, one upper case, one digit and one special character
        </div>        

        <div>
            <div class="password">
                Confirm Password
            </div>

            <input #ConfirmPass name="ConfirmPass" type="password" placeholder="**********" id="confirmPasswordInput" (keyup)="confirmPass($event.target,SubmitPass.value);" required>
        </div>

        <div id="error" *ngIf="matchError">
            ! Passwords don't match
        </div>

        <div class="submitButton">
            <button type="submit" id="submitButtonRectangle" [disabled]="(!SubmitPass.valid && SubmitPass.dirty) || matchError">
                <div id="submitButtonText">Register</div>
        </button>
        </div>

    </div>
</div>