<div class="layoutContainer">
    <profile-header>

    </profile-header>
    <div class="contentContainer">
        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div>
            <div class="profileDetails">
                Enrollment periods
            </div>
            <div class="profileSecondaryDetails">
                <p>June 4th - June 17th:</p>
                <p class="spacingLeft">2 weeks - evaluation</p>
                <p>June 18th - July 1st:</p>
                <p class="spacingLeft">2 weeks: completion of the degree bachelor/master paper</p>
                <p class="spacingLeft">Registration for the final graduation exam will be carried out during the last week of this interval.</p>
                <p>JuLy 2nd - July 8th:</p>
                <p class="spacingLeft">Final graduation exam </p>
            </div>
            <div class="profileDetails">
                Needed documents
            </div>
            <div class="profileSecondaryDetails">
                bla bla
            </div>
            <div class="profileDetails">
                Advice
            </div>
            <div class="profileSecondaryDetails">
                <p>Power Point Presentation</p>
                <p class="spacingLeft">The presentation will contain between 8 and 15 slides, numbered, to be referenced to possible committee questions</p>
                <p class="spacingLeft">It is mandatory the existence of a title slide, which will contain at least the title of the work, the name
                    graduate and name of the coordinating teacher</p>
                <p class="spacingLeft">A slide containing the content of the presentation</p>
                <p class="spacingLeft">6-10 slides with text, tables, figures (with the help of these will be presented those aspects of the paper
                    what they want to be communicated to the committee</p>
                <p class="spacingLeft">1-2 slides for conclusions. These slides will not contain much text (about 7 lines a 7 words each)</p>
            </div>
        </div>
    </div>
</div>