<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<div class="layoutContainer">

    <profile-header>
    </profile-header>

    <div class="contentContainer">
        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div>
            <div class="secondaryText secondaryTextForDetails centerContainer">
                Student's work
            </div>

            <div>
                <div *ngFor="let student of students">
                    <div class="profileDetails">
                        Name: {{student.FirstName}} {{student.LastName}}
                    </div>
                    <div class="profileDetails">
                        Achievements: {{student.Achievement}}
                    </div>
                    <div class="profileDetails">
                        GitUrl:
                        <a href='#'>{{student.GitUrl}}</a>
                    </div>
                    <div class="profileDetails">
                        Latest 5 commits:
                    </div>

                    <div class="profileDetails">
                        <div>
                            <div class="mdl-cell mdl-cell--12-col">
                                <table class="table">
                                    <thead>
                                        <th class="columnTitle commitDetails"> Date </th>
                                        <th class="columnTitle commitDetails"> Description </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let commit of commitsArray; let i = index;">
                                            <td class="columnGitContent commitDetails">
                                                <span>
                                                    <img src="https://i.imgur.com/qJyqngf.png" />
                                                </span>
                                                <span>
                                                    {{commit.Date.getDate()}}.{{commit.Date.getMonth()}}.{{commit.Date.getFullYear()}}
                                                </span>
                                            </td>
                                            <td class="columnGitContent columnGitContentMessage commitDetails">{{commit.Message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2 *ngIf="commitsArray.length == 0" class="no-data-to-display">No data to display</h2>
                            </div>
                        </div>
                    </div>

                    <div class="profileDetails spacingBottom">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect requestButton meetingRequestDetailsButton"
                            (click)="goToDetails(student.Email)">
                            Go to details
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>