$content-container-bg-color: rgba(222, 218, 191, 0.7);
$text-font: 'Lucida Sans';
$text-color: rgba(94, 64, 56, 1);
$text-size-header-title: 24px;
$text-size-header: 16px;
$phone-break: 640px;
$tablet-break: 1008px;
$information-phone: "only screen and (max-width : $phone-break)";
$information-tablet: "only screen and (max-width : $tablet-break)";
$input-border-color-default: rgba(94, 64, 56, 0.4);


.layoutContainer {   
    //background-image: url("https://i.imgur.com/RLacS2w.jpg") no-repeat center center fixed;
    //https://i.imgur.com/RLacS2w.jpg 
    //https://i.imgur.com/mbk0ETO.jpg -- all  white
    width:100%;
    height:100vh;
    background: url("https://i.imgur.com/RLacS2w.jpg") no-repeat center center fixed; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}

.contentContainer{
    margin-top: 7%;
    background-color: $content-container-bg-color;
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: solid $input-border-color-default 1px;
}

.header{    
    padding: 3% 2%;
    width: 100%;  
    height: 5%; 
    color: $text-color;
    font-family: $text-font;    
    background-color: $content-container-bg-color;    
    border-bottom: solid $input-border-color-default 1px;
    @media #{$information-tablet}{        
        height: 5%; // check this when intergrating with another component
    }
    @media #{$information-phone} {        
        height: 5%; // same here (upArrow)
    }
}

.header > .header-title{
    font-size: $text-size-header-title;
    float: left;
    @media #{$information-tablet}{        
        font-size: $text-size-header-title - 2;
        padding: 1% 2%;
    }
    @media #{$information-phone} {        
        font-size: $text-size-header-title - 4;
        padding: 1% 2%;
    }
}

.logout, .username{    
    font-size: $text-size-header;
    margin-right: 3%; 
    float: right;
    @media #{$information-tablet}{        
        font-size: $text-size-header - 2;
    }
    @media #{$information-phone} {        
        font-size: $text-size-header - 4;
    } 
}

div > a{    
    font-weight: normal;
    text-decoration: none;
    color: $text-color;
}

.primaryText, .secondaryText{
    font-family: $text-font;
    color: $text-color;
}

.primaryText{    
    font-size: $text-size-header-title + 10;
    margin-top: 5%;
    margin-bottom: 1%;
}

.secondaryText{
    font-size: $text-size-header  + 5;
    margin-top: 1%;
    margin-bottom: 10%;
}

.centerContainer{
    text-align: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
}

.sidebar_content{
    cursor: pointer;
    color: $text-color;
    font-family: $text-font;
    font-size: $text-size-header;
    margin: 1% 5%;
    outline: none;
}

.sidebar_border{
    width: 15%;
    float: left;
    margin: 1% 0% 1% 1%;
}

.bordered{    
    border: solid $input-border-color-default 1px;
    min-height: 100%;
}

.subtitle{
    font-family: $text-font;
    color: $text-color;    
    font-size: $text-size-header  + 3;
    margin: 1% 0% 1% 1%;
}

.profileDetails{
    font-family: $text-font;
    color: $text-color;    
    font-size: $text-size-header;
    margin: 1% 20%;
}

.profileSecondaryDetails{
    font-family: $text-font;
    color: $text-color;    
    font-size: $text-size-header - 4;
    margin: 1% 25%;
}

.spacingBottom{
    padding-bottom: 1%;
}

*:focus {outline-color:$content-container-bg-color}