.layout-container {
    min-width: calc(100%);
    width: 100%;
    min-height: 700px;
    height: auto;
    margin: 0px;
    background: url("https://i.imgur.com/RLacS2w.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content-container{
    margin-top: calc(10%);
    background-color: rgba(222, 218, 191, 0.7);
    width: calc(50%);
    height: auto;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1281px) {
     
}
  
@media (min-width: 1025px) and (max-width: 1280px) {
    
}
  
@media (min-width: 768px) and (max-width: 1024px) {
    
}
 
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

@media (min-width: 481px) and (max-width: 767px) {
    
}
  
@media (max-width: 480px) {
   
} 