<div class="layoutContainer">
        <div class="contentContainer">
                <div class="welcomeToAppTitle">
                        Welcome To Your Bachelor Degree Management App
                </div>

                <div class="welcomeToAppSubtitle">
                        LogIn
                </div>

                <div>

                        <div class="email">
                                Email
                        </div>

                        <input #SubmitEmail name="SubmitEmail" (ngModel)="body.Username" type="text" placeholder="lastName.firstName@info.uaic.ro" 
                        id="emailInput" pattern="1" required>
                </div>

                <div>
                        <div class="password">
                                Password
                        </div>

                        <input #SubmitPass name="SubmitPass" type="password" placeholder="**********" id="passwordInput" required>
                </div>
                
                <div class="forgotPassword"> 
                        <a> Forgot password?</a>
                </div>
                

                <button type="submit" id="submitButtonRectangle" (click)="submit(SubmitEmail.value,SubmitPass.value);" [disabled]="(!SubmitEmail.valid && SubmitEmail.dirty)">
                        <div id="submitButtonText">Log In
                                
                        </div>
                </button>

                <div class="register">
                        If you don't have an account you can register <a [routerLink]="['/register']"> here!</a>
                </div>

        </div>
</div>