<div class="layoutContainer">
    <div class="contentContainer contentContainerLoginAlign">    
         <div class="welcomeToApp">
                Welcome To Your Bachelor Degree Management App
        </div>

        <div class="logIn">
                Log In
        </div>


        <div class="email">
                Email
        </div>

        <input  name="SubmitEmail"  type="text" placeholder="lastName.firstName@info.uaic.ro"
                id="emailInput" pattern="^.+\b@info\.uaic\.ro\b$" required>

        <div class="password">
                Password
        </div>

        <input  name="SubmitPass"  type="password" placeholder="**********"
                id="passwordInput" required >

        <div class="rememberAndForgot">                
            <div class="rememberMe"> Remember me </div>    
            <div class="forgotPassword"> <a> Forgot password?</a></div>
        </div>

        <button type="submit" id="logInButtonRectangle" >
                <div id="logInButton">Log In</div>
        </button>
    </div>
</div>