<div class="layout-container">
    <div class="content-container">    
         <div class="welcomeToApp">
                Welcome to your Bachelor Degree Management App
        </div>

        <div class="logIn">
                Log In
        </div>


        <div class="email">
                Email
        </div>

        <input  name="SubmitEmail"  type="text" placeholder="ex: name@info.uaic.ro"
                id="emailInput" pattern="^.+\b@info\.uaic\.ro\b$" required>

        <div class="password">
                Password
        </div>

        <input  name="SubmitPass"  type="password" placeholder="**********"
                id="passwordInput" required >

        <div class="rememberMe">                
                <span> Remember me </span>
        </div>

        <a class="forgotPassword">Forgot password?</a>

        <button type="submit" id="logInButtonRectangle" >
                <div id="logInButton">Log In</div>
        </button>
    </div>
</div>