<div class="layoutContainer">
    <student-header>

    </student-header>
    <div class="contentContainer">

        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div>
            <div class="profileDetails">
                First Name: {{student.FirstName}}
            </div>
            <div class="profileDetails">
                Last Name: {{student.LastName}}
            </div>            
            <div class="profileDetails">
                Teacher Name: ala bala
            </div>
            <div class="profileDetails">
                Repository address: <a href={{userGitUrl}}> {{student.GitUrl}}</a>
            </div>
            <div class="profileDetails">
                Serial Number: {{student.SerialNumber}}
            </div>
            <div class="profileDetails">
                Start year: {{student.StartYear}}
            </div>
            <div class="profileDetails">
                Means: ala bala
            </div>
        </div>
    </div>
</div>