<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<div class="layoutContainer">
    <profile-header>

    </profile-header>
    <div class="contentContainer">

        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div *ngIf="isTeacher == false">
            <div *ngIf="!showEditForm">
                <div *ngIf="student != null">
                    <div class="profileDetails profileMargin">
                        <span class="profileDetailsText">
                            Name:
                        </span>
                        {{student.FirstName}} {{student.LastName}}
                    </div>
                    <div class="profileDetails">
                        <span class="profileDetailsText">
                            Teacher Name:
                        </span>
                        {{student.TeacherName}}
                    </div>
                    <div class="profileDetails">
                        <span class="profileDetailsText">
                            Theme name:
                        </span>
                        {{student.Theme.Title}}
                    </div>
                    <div class="profileDetails profileRightDetails">
                        <span class="profileDetailsText">
                            Theme description:
                        </span>
                        {{student.Theme.Description}}
                    </div>
                    <div class="profileDetails">
                        <span class="profileDetailsText">
                            Repository address:
                        </span>
                        <a href={{userGitUrl}}> {{student.GitUrl}}</a>
                    </div>
                    <div class="profileDetails">
                        <span class="profileDetailsText">
                            Serial Number:
                        </span>
                        {{student.SerialNumber}}
                    </div>
                    <div class="profileDetails">
                        <span class="profileDetailsText">
                            Start year:
                        </span>
                        {{student.StartYear}}
                    </div>
                    <div class="profileDetails">
                        <span class="profileDetailsText">
                            Means:
                        </span>
                        {{student.Means.FirstSemester == 0 ? "" : student.Means.FirstSemester}}{{student.Means.SecondSemester == 0 ? "" : ", " +
                        student.Means.SecondSemester}}{{student.Means.ThirdSemester == 0 ? "" : ", " + student.Means.ThirdSemester}}{{student.Means.FourthSemester
                        == 0 ? "" : ", " + student.Means.FourthSemester}}{{student.Means.FifthSemester == 0 ? "" : ", " +
                        student.Means.FifthSemester}}{{student.Means.SixthSemester == 0 ? "" : ", " + student.Means.SixthSemester}}
                    </div>
                    <div class="profileDetails">
                        <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect editTeacherButton" (click)="enableEditProfile()">
                            {{editText}}
                        </button>
                    </div>
                </div>

                <div *ngIf="student == null">
                    <div class="profileDetails">
                        Name: No name
                    </div>
                    <div class="profileDetails">
                        Teacher Name: No teacher
                    </div>
                    <div class="profileDetails">
                        Theme name: No theme
                    </div>
                    <div class="profileDetails">
                        Theme description: No description
                    </div>
                    <div class="profileDetails">
                        Repository address: No git url
                    </div>
                    <div class="profileDetails">
                        Serial Number: No serial number
                    </div>
                    <div class="profileDetails">
                        Start year: No start year
                    </div>
                    <div class="profileDetails">
                        Means: No means
                    </div>
                    <div class="profileDetails">
                        <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect editTeacherButton" (click)="enableEditProfile()">
                            {{editText}}
                        </button>
                    </div>
                </div>


            </div>

            <div *ngIf="showEditForm">
                <div class="mdl-cell mdl-cell--12-col">

                    <div class="centerContainerProfile">
                        <div class="teacherDetailsRowTitle">
                            Edit profile
                        </div>

                        <div *ngIf="student != null">
                            <div>
                                <span class="teacherDetailsRow">First name: {{student.FirstName}}</span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Last name: {{student.LastName}}</span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Email: {{student.Email}}</span>
                            </div>

                            <div>
                                <span class="teacherDetailsRow">Git Url:</span>
                                <span class="mdl-textfield mdl-js-textfield addTeacherAdmin editInput">
                                    <input #GitUrl class="mdl-textfield__input" type="text" placeholder={{student.GitUrl}}>
                                </span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Theme title:</span>
                                <span class="mdl-textfield mdl-js-textfield addTeacherAdmin editInput">
                                    <input #ThemeTitle class="mdl-textfield__input" type="text" placeholder={{student.Theme.Title}}>
                                </span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Theme description:</span>
                                <span class="mdl-textfield mdl-js-textfield addTeacherAdmin editInput">
                                    <input #ThemeDescription class="mdl-textfield__input" type="text" placeholder={{student.Theme.Description}}>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="student == null">
                            <div>
                                <span class="teacherDetailsRow">First name: No first name set</span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Last name: No last name set</span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Email: {{email}}</span>
                            </div>

                            <div>
                                <span class="teacherDetailsRow">Git Url:</span>
                                <span class="mdl-textfield mdl-js-textfield addTeacherAdmin editInput">
                                    <input #GitUrl class="mdl-textfield__input" type="text" placeholder="A git url">
                                </span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Theme title:</span>
                                <span class="mdl-textfield mdl-js-textfield addTeacherAdmin editInput">
                                    <input #ThemeTitle class="mdl-textfield__input" type="text" placeholder="A theme title">
                                </span>
                            </div>
                            <div>
                                <span class="teacherDetailsRow">Theme description:</span>
                                <span class="mdl-textfield mdl-js-textfield addTeacherAdmin editInput">
                                    <input #ThemeDescription class="mdl-textfield__input" type="text" placeholder="A theme description">
                                </span>
                            </div>
                        </div>

                        <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect buttonMargin" (click)="editRecord(student.Email, GitUrl.value.length == 0 ? GitUrl.placeholder : GitUrl.value, ThemeTitle.value.length == 0 ? ThemeTitle.placeholder : ThemeTitle.value, ThemeDescription.value.length == 0 ? ThemeDescription.placeholder : ThemeDescription.value)">
                            {{submitText}}
                        </button>
                        <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="cancelEditProfile()">
                            {{cancelButton}}
                        </button>
                    </div>

                </div>

            </div>

        </div>

        <div *ngIf="isTeacher">
            <div class="profileDetails">
                Name: {{teacher.Grade}} {{teacher.FirstName}} {{teacher.LastName}}
            </div>
            <div class="profileDetails">
                Requirement: {{teacher.Requirement}}
            </div>

            <div class="profileDetails" *ngIf="showEditConsultation == false">
                <span>Consultation: {{teacher.ConsultationDay}}, {{teacher.ConsultationInterval}}</span>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect editConsultationButton" *ngIf="showEditConsultation == false"
                    (click)="allowEditConsultation()">
                    {{editConsultationButton}}
                </button>
            </div>

            <div *ngIf="showEditConsultation">
                <span class="consultationDetails">
                    Consultation day:
                </span>
                <span class="mdl-textfield mdl-js-textfield editConsultationRow editInput">
                    <input #ConsultationDay class="mdl-textfield__input" type="text" placeholder={{teacher.ConsultationDay}}>
                </span>
                <span class="consultationIntervalDetails">
                    Consultation interval:
                </span>
                <span class="mdl-textfield mdl-js-textfield editConsultationRow editInput">
                    <input #ConsultationInterval class="mdl-textfield__input" type="text" placeholder={{teacher.ConsultationInterval}}>
                </span>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect saveConsultationButton" (click)="editConsultation(teacher.Email, ConsultationDay.value.length == 0 ? ConsultationDay.placeholder : ConsultationDay.value, ConsultationInterval.value.length == 0 ? ConsultationInterval.placeholder : ConsultationInterval.value)">
                    {{saveConsultationButton}}
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect cancelButton" (click)="cancelConsultation()">
                    {{cancelButton}}
                </button>
            </div>

            <div class="profileDetails">
                Themes:
            </div>
            <div *ngFor="let theme of teacher.Theme">
                <div class="profileSecondaryDetails">
                    Name: {{theme.Title}}
                </div>
                <div class="profileSecondaryDetails spacingBottom">
                    Description: {{theme.Description}}
                </div>
            </div>
            <div class="profileDetails">
                Students:
            </div>
            <div *ngFor="let student of teacher.Student">
                <div class="profileSecondaryDetails">
                    Name: {{student.FirstName}} {{student.LastName}}
                </div>
                <div class="profileSecondaryDetails">
                    Theme: {{student.Theme.Title}}
                </div>
                <div class="profileSecondaryDetails">
                    Theme Description: {{student.Theme.Description}}
                </div>
                <div class="profileSecondaryDetails spacingBottom">
                    Repository address:
                    <a href={{userGitUrl}}> {{student.GitUrl}}</a>
                </div>
            </div>
        </div>
    </div>
</div>