<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<div class="layoutContainer">

    <profile-header>
    </profile-header>

    <div class="content contentDetails">
        <div class="bordered sidebar_border">
            <div class="sidebar_content">
                <teacher-sidebar>
                </teacher-sidebar>
            </div>
        </div>

        <div *ngIf="dueDatePassed == false" class="bordered content_border">
            <div class="spots">
                <div>
                    Number of spots: {{numberOfSpots}}
                </div>
                <div>
                    Number of available spots: {{numberOfAvailableSpots}}
                </div>
                <div>
                    Limit date: {{limitDate.getDate()}}.{{limitDate.getMonth()}}.{{limitDate.getFullYear()}}
                </div>
            </div>

            <div class="studentDetails">
                <div class="mdl-cell mdl-cell--12-col">
                    <table class="table">
                        <thead>
                            <th class="columnTitle nameColumn"> Name </th>
                            <th class="columnTitle"> Themes </th>
                            <th class="columnTitle achievementColumn"> Achievements </th>
                            <th class="columnTitle optionColumn"> Option </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of studentList; let i = index;">
                                <td class="columnContent">{{student.FirstName}} {{student.LastName}}</td>
                                <td class="columnContent">{{student.Theme.Title}}: {{student.Theme.Description}}</td>
                                <td class="columnContent">{{student.Achievement}}</td>
                                <td class="columnContent">
                                    <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect acceptRequestButton" *ngIf="student.Accepted == false && student.Denied == false"
                                        (click)="acceptStudent(student)">
                                        {{acceptStudentsRequest}}
                                    </button>
                                    <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect denyRequestButton" *ngIf="student.Accepted == false && student.Denied == false"
                                        (click)="denyStudent(student)">
                                        {{declineStudentsRequest}}
                                    </button>
                                    <div *ngIf="student.Accepted == true">
                                        Accepted
                                    </div>
                                    <div *ngIf="student.Denied == true">
                                        Declined
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 *ngIf="studentList.length == 0" class="no-data-to-display">No data to display</h2>
                </div>
            </div>
        </div>

        <div *ngIf="dueDatePassed" class="bordered content_border">
            <div *ngFor="let meeting of meetingRequests meetingRequestDetails">
                <span class="profileDetails meetingRequestDetails">
                    Student email: {{meeting.StudentEmail}} --- Request date: {{meeting.Date.getDate()}}.{{meeting.Date.getMonth()}}.{{meeting.Date.getFullYear()}}
                    --- Request time: {{meeting.Date.getHours()}}:{{meeting.Date.getMinutes()}}   
                </span>

                <span>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect requestButton meetingRequestDetailsButton"
                        (click)="acceptRequestMetting(meeting.StudentEmail, meeting.TeacherEmail)" *ngIf="meeting.Accepted == false && meeting.Declined == false">
                        {{acceptStudentsRequest}}
                    </button>
                </span>

                <span>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect requestButton meetingRequestDetailsButton"
                        (click)="declineRequestMetting(meeting.StudentEmail, meeting.TeacherEmail)" *ngIf="meeting.Accepted == false && meeting.Declined == false">
                        {{declineStudentsRequest}}
                    </button>
                </span>

                <span class="profileDetails meetingRequestDetails" *ngIf="meeting.Accepted">
                    ---   Status: Accepted
                </span>
                <span class="profileDetails meetingRequestDetails" *ngIf="meeting.Declined">
                    ---   Status: Declined
                </span> 

            </div>
        </div>

    </div>

</div>