<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

<div class="layoutContainer">
    <student-header>
        <!-- too see if it needs to be another -->
    </student-header>

    <div class="content">

        <div class="content sidebar">
            <teacher-sidebar>

            </teacher-sidebar>
        </div>

        <div class="content contentDetails">
            <div class="spots">
                <div>
                    Number of spots: {{numberOfSpots}}
                </div>
                <div>
                    Number of available spots: {{numberOfAvailableSpots}}
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <table class="table">
                    <thead>
                        <th class="columnTitle numberColumn"> Number </th>
                        <th class="columnTitle nameColumn"> Name </th>
                        <th class="columnTitle"> Themes </th>
                        <th class="columnTitle achievementColumn"> Achievements </th>
                        <th class="columnTitle optionColumn"> Option </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of studentList; let i = index;">
                            <td class="columnContent">{{i + 1}}</td>
                            <td class="columnContent">{{student[0].FirstName + " " + student[0].LastName}}</td>
                            <td class="columnContent">{{student[0].Theme.Title}}: {{student[0].Theme.Description}}</td>
                            <td class="columnContent">{{student[1].Description}}</td>
                            <td class="columnContent">
                                <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect acceptRequestButton" *ngIf="student[2] == false"
                                    (click)="acceptStudent(student[0])">
                                    {{acceptStudentsRequest}}
                                </button>
                                <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect denyRequestButton" *ngIf="student[2] == false"
                                    (click)="denyStudent()">
                                    {{denyStudentsRequest}}
                                </button>
                                <div *ngIf="student[2] == true">
                                    Accepted
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2 *ngIf="studentList.length == 0" class="no-data-to-display">No data to display</h2>
            </div>
        </div>

    </div>
</div>