<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<div class="layoutContainer">
    <student-header>
    </student-header>

    <div class="contentContainer">
        <div class="teacherDetails">
            <div class="teacherDetailRow">{{teacher.Grade}} {{teacher.FirstName}} {{teacher.LastName}} </div>
            <div class="teacherDetailRow">{{teacher.Discipline}}</div>
            <div *ngFor=" let teacherTheme of teacher.Themes" class="teacherDetailRow">
                <p class="teacherDetailRow">{{teacherTheme.Title}}</p>
                <p class="teacherDetailRowSecondary">{{teacherTheme.Description}}</p>
            </div>
        </div>

        <div class="studentDetails">
            <div class="studentDetailsRowTitle">Details about your idea</div>
            <div>
                <span class="studentDetailsRow">Title:</span>
                <span class="mdl-textfield mdl-js-textfield studentDetailsRowSecondary">
                    <input #Title class="mdl-textfield__input" type="text" placeholder="The title of your degree">
                </span>
            </div>
            <div>
                <div>
                    <span class="studentDetailsRow">Description:</span>
                    <span class="mdl-textfield mdl-js-textfield studentDetailsRowSecondary">
                        <input #Description class="mdl-textfield__input" type="text" placeholder="A brief description about your idea">
                    </span>
                </div>
                <div>
                    <span class="studentDetailsRow">Personal achievements:</span>
                    <span class="mdl-textfield mdl-js-textfield  studentDetailsRowSecondary">
                        <input #Achievement class="mdl-textfield__input" type="text" placeholder="Articles you wrote, projects and competitions etc.">
                    </span>
                </div>
                <div>
                    <button type="radio" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="applyToTeacherWithDetails(Title.value, Description.value, Achievement.value)">
                        {{buttonText}}
                    </button>
                </div>
            </div>
        </div>

    </div>